<%- include("./partials/head") %>

    <main id="index-main">
        <h1>Main Page</h1>
        <p id="index-blurb">
            This is a flight booking web-app. Please choose the "Add Flight" option to create flight bookings, and the "All Flights" option to display all created flights.  Thank you.
        </p>  
    </main>
</body>
</html>