<%- include("./partials/head") %>


    <h1>Main Page</h1>
    <main>
        This is a flight booking web-app. Please choose the "Add Flight" option to create flight bookings, and the "All Flights" option to display all created flights.  Thank you.
    </main>
</body>
</html>