<%- include("./partials/head") %>
    <h1>Main Page</h1>
    <nav>
        <p>
            <a href="/show">All Flights</a>
        
            <a href="/update">Add Flight</a>
        </p>
    </nav>
</body>
</html>